.banner{
	width:100%;
	height:370px;
}
.banner h1{
	background: url(../img/bg1.jpg) no-repeat center top;
	width:100%;
	height:100%;
}
/*=======================main=================================================*/
.main{
	background:#F5F5F5;
	padding-bottom:30px;
}
.main1{
	width:1200px;
	margin:0 auto;
	overflow: hidden;
}
.fixedbox{
	height: 46px;
	margin: 26px 0 0;
	background: #F5F5F5;
	position: relative;
	z-index: 10;
	width:1200px;
}
.fixedbox ul{
	background:#F5F5F5;
	width:1200px;
}
.fixedbox li{
	float:left;
	height:46px;
	text-align: center;
	margin-right: 2px;
	padding:0 20px;
	font:14px/46px "宋体";
	cursor:pointer;
	color:#666;
}
li.current{
	background:#E44715;
	color:#fff;
}
/*=================================图片内容===========================================*/
.re-gift{
	position: relative;
	overflow: hidden;
	margin-top:26px;
	display: none;
}
.re-gift ul{
	width:1230px;
	padding-bottom: 4px;
}
.re-gift li{
	position: relative;
	width:280px;
	float: left;
	margin:0 24px 44px 0;
	background: #fff;
	overflow: hidden;
}
.gift_con{
	width:280px;
	height:280px;
	position: relative;
	overflow: hidden;
}
.gift_con img{
	width:280px;
	height:280px;
}
.hid-box{
	width:280px;
	height:37px;
	position: absolute;
	z-index:999;
	bottom:-40px;
	left:0;
}
.boxp{
	width:161px;
	height:40px;
	float:left;
}
.boxp i{
	display: inline-block;
	width:14px;
	height:13px;
	vertical-align: middle;
	margin-right: 6px;
	background: url(../img/common.png) -37px -169px;
}
.hid-box a{
	display: block;
	color:#fff;
	height:37px;
	line-height: 37px;
	background:rgba(0,0,0,0.6);
	text-align: center;
}
.hid-box a:hover{
	background: #e6604d;
}
.a-link{
	display:block ;
	width:118px;
	border-left:1px solid #ccc;
	height:37px;
	float:left;
}
.box1{
	width:246px;
	margin:0 auto;
}
.box1 a{
	color:#999;
	margin-top:6px;
	float:right;
}
.box1 a:hover{
	color:#f4614d;
	text-decoration: underline;
}
.re-gift .box1 span{
	color:#666;
	font-family: "微软雅黑";
	font-size:18px;
}
.box1 em,.some em{
	font-family: "微软雅黑";
	font-size:12px;
	font-style: normal;
}
.some{
	height:22px;
	line-height:22px;
	color:#999;
	padding-top:2px;
	padding-left:16px;
}
.some span{
	line-height: 22px;
	color:#999;
	text-decoration: line-through;
}
.word-p{
	width:246px;
	height:22px;
	line-height:22px;
	color:#999;
	font-family: "宋体";
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 6px auto 10px;
}
.main-pic1 li:hover{
	box-shadow: 1px 1px 1px rgba(0,0,0,0.4);	
}
.height40{
	height:40px;
	clear: both;
	overflow: hidden;
}
.height15{
	height:15px;
	clear: both;
	overflow: hidden;
}
.main1 .showBox{
	display: block;
}
/*========================================活动列表=======================================*/
.active-btm{
	width:100%;
	background:#f5f5f5;
	overflow: hidden;
}
.box-btn{
	text-align: center;
}
.box-btn a{
	display:inline-block;
	padding:10px 20px;
	font-size:18px;
	cursor:pointer;
	border-radius: 3px;
	text-align:center;
	font-family: 'Hiragino Sans GB','Microsoft YaHei';
	color:#fff;
	background:#e84847;
}
.box-btn a:hover{
	background:#d03635;
}
.activeites{
	width:1200px;
	margin:0 auto;
	padding-bottom:20px;
}
.activeites h3{
	width:100%;
	height:34px;
	background: url(../img/activities.png) no-repeat;
}
.activeites_con {
	padding-top:18px;
}
.activeites_con ul{
	width:1200px;
	margin:10px auto;
}
.activeites_con li{
	float:left;
	margin-right: 10px;
	margin-bottom: 15px;
}
.footerbo{
	clear:both;
	width:1210px;
	margin:0 auto;
	padding-top:20px;
}
.footerbo ul{
	width:1260px;
}
.footerbo li{
	float:left;
	margin-right: 10px;
}
.footerbo a{
	display:block;
	height:55px;
	width:230px;
	border:1px solid #ccc;
	font-size: 24px;
	line-height:55px;
	font-family: arial ,"微软雅黑";
	background: #fff;
	text-align: center;
	margin-bottom: 12px;
}
.footerbo .common1{
	font-weight: bold;
}
.footerbo .common2{
	font-size:36px;
	height:125px;
	line-height:125px;
	font-weight: bold;
}